


.header {
    z-index: 1;
    width: 100%;
    background: #08979C;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    height: 48px;
    background: #08979C;
    cursor: pointer;
  }
  
  .search {
    width: 70%;
    height: 42px;
  }
  
  .toolBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #08979C;
    width: 140px;
    padding: 1rem;
  }